<!DOCTYPE html>
<html lang="es-CL">
<head>
    {% load staticfiles %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
    <title>Diccionario</title>
</head>

<body>
        <header class="img-bar"><img src="../static/img/logo.png"></header>
        <nav class="nav-conta">
            <ul>
                <li><a href="Diccionario.html">Diccionario</a></li>
                <li><a href="noticia1.html">Noticias</a></li>
                <li><a href="contactos.html">Contacto</a></li>
           </ul>
        </nav>
        <section class="sec1"></section>


<div class="traductor">
  <div class="container-diccion">
    <div class="diccion">
       <form action="traducido/" method="post" id="formulario">
        {% csrf_token %}
            <div class="txtd">
                <label for="exampleInputEmail1">Español</label>
                <input type="text" id="enEspañol" style="color:black" placeholder="Escribe..." value = "{{palabra.español}}" name="traducirEspañol">
            </div>
            <div>
                <input type="submit" class="diccion-botn" value="Traducir">
            </div>
            <div class="txtd">
                <label for="exampleInputEmail1">Criollo Haitiano</label>
                <input type="text" id="enHaitiano" placeholder="Traduccion..." value = "{{palabra.creolles}}" name="traducirCreolles">
            </div>

            <div class="txtd">
                <label for="exampleInputEmail1">Inglés</label>
                <input type="text" id="enIngles" placeholder="Traduccion..." value = "{{palabra.ingles}}" name="traducirIngles">
            </div>

            <div class="txtd">
                <label for="exampleInputEmail1">Portugues</label>
                <input type="text"  id="enPortugues" placeholder="Traduccion..." value = "{{palabra.portuges}}" name="traducirPortugues">
            </div>
        </form>

       {% if request.user.is_superuser %}
       <form action="modificar/" method="post">
        {% csrf_token %}
        <div class="txtd">
           <label for="text">ingrese palabra a buscar para modificar:</label>
           <input type="text" placeholder="Buscar..." name = "buscarEspañol">
        </div>

        <div>
           <input type="submit" class="diccion-botn" value="Buscar">
        </div>
       </form>
       {% endif%}

     </div>
    </div>
  </div>
</div>

    <footer> Mobile and web design - IT Fair
        <p> Free material for everyone </p>
    </footer>



    <script src="..static/js/jquery-3.3.1.js" ></script>
    <script src="..static/js/bootstrap.min.js"></script>
    <script src="..static/js/app.js"></script>
    <script src="..static/js/traductor.js"></script>
</body>
</html>
