<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
       
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/estilo.css" type="text/css">
 <title>Noticias </title>
</head>

<body>
    <header id="sticky-header">
       <div class="main-menu-area">
         <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-3">
                    <div class="logo">
                       <a href="index.html"><img src="img/logo.png" height="30" alt ="" ></a>
                    </div>
               </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="main-menu text-right">
                        <nav>
                          <ul>
                            <li><a href="#">Diccionario</a></li>
                            <li><a href="#">Noticias</a></li>
                            <li><a href="#">Contacto</a></li>
                          </ul>
                      </nav>
                   </div>
                </div>
            </div>
         </div>
       </div>
    </header>
    <div class="slider-area">
            <div class="single-slider" style="background-image:url(img/world-map.jpg)"></div>
        </div>
    <div class="content">
        
       <div class="container">
           <div class="row">
               <div class="noticia1 borde-suave">
                   <h1>Venezolanos se convierten en la comunidad de inmigrantes más grande de Chile</h1>
                <p>Los venezolanos en Chile se han convertido por primera vez en la comunidad de inmigrantes más grande del país, superando a la peruana, con un total de 187.892.

                    Según números de la Encuesta de Caracterización Económica y Social (Casen) 2017, según calculó La Tercera, el total de personas provenientes de otro país y residentes en el terrotorio es de 777.407, de los cuales casi la mitad llegó a partir de 2015, marcando un alza de 67%.
                    
                    De esta forma, según el medio, el aumento de inmigrantes en Chile ha cambiado de 2,7% a 4,4%, desde que se han calculado por primera vez estos índices en 2006.
                    
                    Otra de las comunidades extranjeras que ha visto un alza en sus cifras es la haitiana, la cual, según los cálculos, es el cuarto grupo migrante más grande del país con un total de 76.278, aumentando cinco veces en los últimos dos años. 
                    
                    Por el contrario, los argentinos en Chile disminuyeron de 55.185 en 2015 a 43.144 en 2017.</p>
                    <img src="img/venezuela.jpg" width="800">
                    <h6>CARACTERÍSTICAS Y CONCENTRACIÓN EN CHILE</h6>
                    <p> De acuerdo a lo consignado por el medio, el 41,4% de los venezonalos residentes en Chile tiene entre 15 y 29 años, de los cuales, la escolaridad promedio de los activos en el mercado laboral es de 15,7 años, superando al promedio nacional (12,1 años) y también al de la población inmigrante total (13,5%).

                            Por otra parte, la región que concentra la mayor cantidad de inmigrantes es la Metropolitana con 557.964 personas, es decir, 71,8%.
                            
                            No obstante, en relación al tamaño de la población por regiones, según el diario, la mayor tasa de los residentes está en Tarapacá (12,8%), Arica (7,7%), Metropolitana (7,7%) y Antofagasta (6,1%).
                            
                            En el ámbito laboral, el ingreso promedio de los inmigrantes en Chile es de $578.174, mientras que el de los chilenos es de $512.936, superando así, inclusive al promedio nacional equivalente a $516.892.
                            
                            Además, el número de ocupación de las personas nacidas en otro país y residentes en el territorio es de 75,3%, muy por sobre la media nacional de 54,8%.</p>
               </div>

               <div class="not2">

               </div>
               <div class="not3">

               </div>
           </div>
       </div>

    </div>
    <br>



  <footer> Mobile and web design - IT Fair
      <p> Free material for everyone </p>
  </footer>
         
  <footer></footer>
 
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
             
</body>
</html>