<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
       
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/estilo.css" type="text/css">
  <link rel="shortcut icon" href="img/LOGO-ONU-SEC-EMBLEMA.ico">
 <title>Noticias </title>
</head>

<body>
    <header id="sticky-header">
       <div class="main-menu-area">
         <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-3">
                    <div class="logo">
                       <a href="index.html"><img src="img/logo.png" height="30" alt ="" ></a>
                    </div>
               </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <div class="main-menu text-right">
                        <nav>
                          <ul>
                            <li><a href="#">Diccionario</a></li>
                            <li><a href="#">Noticias</a></li>
                            <li><a href="#">Contacto</a></li>
                          </ul>
                      </nav>
                   </div>
                </div>
            </div>
         </div>
       </div>
    </header>
    <div class="slider-area">
            <div class="single-slider" style="background-image:url(img/world-map.jpg)"></div>
        </div>
    <div class="content">
        
       <div class="container">
           <div class="row">
               <div class="noticia2 borde-suave">
                   <h1>"Nos quitan el trabajo: 7 mitos de la inmigracion en Chile</h1>
                   <h6>1. “Nos han invadido”</h6>
                <p>
                    
                        El Instituto Nacional de Estadísticas (INE) informó que según el Censo de 2017 que la población actualmente en Chile alcanza a 17.574.003 personas y sólo 746.465 personas extranjeras viven en Chile. Lo que constituye un 4,2% de la población.
                        
                        Asimismo, según el INE, 1.037.346 chilenos viven en el extranjero, lo que comparado con la población extranjera, existen más chilenos en el extranjero, que extranjeros en Chile.
                        
                        MST, señala que expresiones como “nos han invadido”, “estamos plagados”, “se aprovechan de nuestros país” entre otras no son efectivas porque el porcentaje total aun es bajo y se puede equiparar a la cantidad de chilenos fuera de nuestro país.
                        
                
                        
                       <h6>  2. “Los consultorios están plagados de extranjeros”</h6>
                        Según una estimación realizada por Fonasa, actualmente hay 576 mil inmigrantes afiliados al seguro público. De los 576 mil casos, 119 mil (21%) están asegurados en el tramo A, el más vulnerable. Es decir, no cotizan por ser carentes de recursos y tienen gratuidad en las atenciones médicas. De los otros 457 mil que sí cotizan, el 28% está en el B, que cubre el 100% de las prestaciones sin copago; y el resto, en los tramos C y D, que cubren 90% y 80% de las atenciones, respectivamente.
                        
                        Por lo que no es efectivo que estén plagados los consultorios o la red pública de salud</p>
                    <img src="img/migrantes-01.jpg" width="800">
                  <p>
                      <h6>3. “No hay cupos para chilenos en los colegios públicos”</h6>
                        Según el Mineduc, la cifra de estudiantes en Chile al 2017 alcanza 1.274.000 alumnos en los colegios públicos y subvencionados. Los extranjeros matriculados en la educación pública chilena alcanzan a 113.518, lo que equivale al 8,9%. Además, los niños inmigrantes “han influido muy positivamente, puesto que las cifras han aumentado las matriculas de alumnos que habían ido decreciendo en la educación pública chilena, donde el 55% alcanza sólo a educación privada”.
                        
                        
                        
                        4. “Nos quitan el trabajo”
                        Según datos del Instituto Nacional de Estadísticas (INE), en el período septiembre-noviembre de 2017, existieron 8.3721.908 personas ocupadas, de las cuales 184.399 declaran no ser nacionales siendo sólo el 2,2% de la ocupación nacional.
                        
                        <h6>5. “No pagan impuestos”</h6>
                        Según datos extraídos de 2017, los inmigrantes radicados en el país que declararon rentas y tributaron como personas naturales bajo “Impuestos de Segunda Categoría” o “Impuesto Global Complementario”, alcanzaron los 71.187 contribuyentes extranjeros. En promedio, estos pagaron cerca de $2,7 millones al año al estado de Chile.</p>
                        <img src="img/estudiantes.jpg"width="800">
                        <p>
                            <h6>6. “Vivimos en permanente delincuencia de los inmigrantes”</h6>
                                Según cifras del compendio estadístico penitenciario emitido por Gendarmería de Chile del año 2016, 41.697 personas se encuentran cumpliendo condena dentro de una recinto penitenciario en el país, de esa cifra sólo 2.683 son extranjeros. Este cifra equivale a un % de los extranjeros en el país.
                                
                                Dentro de esos 2.683, el 25% no son inmigrantes, sino que burreros, esto es, personas que ingresan al país con el objeto de entrar droga pero sin ningún ánimo de permanecer en Chile.
                                
                                Por otro lado, buena parte de los inmigrantes y extranjeros que figuran en el sistema penal chileno figuran como víctimas (54%).
                                
                               
                                
                               <h6>7. Expulsiones masivas: no son todos delincuentes como la gente cree</h6> 
                                Según la ley de Migración y Extranjería se establecen las causas por las cuales puede expulsarse a un extranjero de Chile, señalando entre ellas el efectuar proselitismo político, haber sido condenado o procesado por un crimen, los que se dediquen al comercio o tráfico ilícito de drogas o armas, al contrabando, al tráfico ilegal de migrantes y trata de personas, los que no tengan o no puedan ejercer profesión u oficio, o carezcan de recursos que les permitan vivir en Chile sin constituir carga social o bien hayan sobrepasado el plazo para permanecer de turistas, entre otras.</p>

               </div>

               <div class="not2">

               </div>
               <div class="not3">

               </div>
           </div>
       </div>

    </div>
    <br>



  <footer> Mobile and web design - IT Fair
      <p> Free material for everyone </p>
  </footer>
         
  <footer></footer>
 
    <!-- Scripts -->
    <script src="js/jquery-3.3.1.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
             
</body>
</html>